/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a{
  text-decoration: none;
}

header{
  width: 90%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
}
/* headerタグ内のheadingクラスのみ反映 */
header .heading{
  font-size: 32px;


}

.nav-list{
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}


.main-visual{
  /* 横幅いっぱい */
  width: 100%;
  /* 高さ300px */
  height: 300px;
  /* 背景色orange */
  background-image: url(img/mv.jpg);
  /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-size: cover;
  /* 背景画像を中央に配置 */
  background-position: center;


}

.main-visual-content{
  /* 横幅40% */
  width: 40%;
  /* 親の高さに合わせる */
  height: 300px;
  /* 背景色半透明の黒 */
  background-color: rgba(0,0,0,0.5);
  /* 文字の中央揃え */
  text-align: center;
  /* 上側の内側余白で垂直方向の位置を調整 */
  padding-top: 105px;

}

.main{
  /* 横幅840px */
  width: 840px;
  /* Flexboxの利用 */
  display: flex;
  /* 要素の横並び・中央寄せ */
  justify-content: center;
  /* 中央寄せ(左右に余裕がないとできない) */
  margin:0 auto;
}

.blog{
  /* 横幅600px */
  width: 600px;
  /* 高さ1400px */
  height: 1400px;
  /* 背景色limegreen */

}

.sideber{
  /* 横幅240px */
  width: 240px;
  /* 高さ1400px */
  height: 1400px;
  /* 背景色palegreen */

}

footer{
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #848282;
}

.footer-text{
  color: #fff;

}
